*, *::after, *::before {
    box-sizing:border-box;  
  }

  :root {
    --primary-color: #df1f26;
    --secondary-color: #000000;
    --tertiary-color: #1e1f27;
    --text-color:white;
    --background-color: #f7f4f2;
    --background-color2:white;
  }

  body {
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--background-color);
  }

  section {
    background-color: var(--background-color2);
  }

  /* Styling Nav bar Top */

header nav {
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menubutton {
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  margin-top: 0.7em;
  margin-right: 2em;
}

/* Styling Header Calender (Italy) */

header section {
  background-color: var(--secondary-color);
  color: var(--text-color);
  margin-top: -1.3em;
  padding-bottom: 1em;
}

.CircuitInfo {
  display: flex;
}

header section h1 {
  font-size: 1.5em;
  margin-top: 2.5em;
  margin-left: -2em;
}

header section h2 {
  font-size: 1em;
  order: -1;
  align-self: flex-start;
  margin-left: 1em;
}

.MonzaCircuit {
  width: 41px;
  height: 32px;
  margin-top: 3.8em;
  margin-left: -11em;
}

header section article {
  background-color: var(--tertiary-color);
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-radius: 2em;
  margin-top: 0.5em;
  padding-top: 1.8em;
  display: flex;
  flex-direction: column;
}

header section article div:first-of-type {
  flex-direction: column;
  flex-wrap: wrap;
  align-self: flex-start;
  justify-self:flex-start;
  margin-left: 11.5%;
  margin-top: -2em;
  padding-bottom: 2em;
}

header section article div:first-of-type p:first-of-type {
  font-weight: 800;
  font-size: 1.5em;
}

header section article div:first-of-type p:last-of-type {
  color: gray;
  top: -2.8em;
  left: 3.4em;
  font-weight: 100;
  font-size: 0.9em;
  margin-top: -2em;
}

header section article h3 {
  font-size: 0.8em;
  background-color: #383940;
  padding: 0.4em;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: 100;
  text-align: center;
  border-radius: 0.8em;
  align-self: flex-start;
  margin-left: 10%;
  margin-top: -1em;
}

header section article div:last-of-type {
  background-color: var(--background-color2);
  margin-left: 0em;
  margin-top: -9.3em;
  padding-left: 50%;
  padding: 10px 10px 8px;
  align-self: flex-end;
  border-radius: 0 30px 30px 0;
}


/* Styling Daniel Ricciardo */

main section:first-of-type {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
  margin-bottom: -1.5em;
}

main section:first-of-type img:first-of-type {
  order: -2;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3em;
}

main section:first-of-type img:last-of-type {
  order: -2;
  height: 21px;
  width: 30px;
  border-radius: 0.3em;
  align-self: flex-start;
  margin-top: 1.5em;
  margin-left: 2.5em;
}

main section:first-of-type h2 {
  font-weight: 800;
  margin-top: -0.5em;
  margin-left: 0.5em;
  border-bottom: 1px solid gray;
}

main section:first-of-type h3 {
  font-size: 1.5em;
  font-weight: 600;
  color: gray;
  order: -1;
  margin-left: 0.5em;
  margin-top: -1.2em;
}

main section:first-of-type img:nth-of-type(2) {
  width: 232px;
  height: 212,5px; 
}

main section:first-of-type p {
  color: var(--primary-color);
  font-weight: 800;
  font-size: 1.2em;
  align-self: flex-end;
  margin-top: -8.9em;
  margin-right: 10%;
}

main section:first-of-type section {
  display: flex;
}

main section:first-of-type ul {
  list-style: none;
}

main section:first-of-type ul:first-of-type {
  margin-top: 3em;
  font-weight: 800;
  font-size: 1em;
  margin-left: -1.5em;
}

main section:first-of-type ul:last-of-type {
  color: gray;
  font-size: 1em;
  margin-right: 10%;
  margin-left: 42%;
  margin-top: -16em;
}

/* Styling News */

main section:nth-of-type(2) {
  background-color: var(--background-color);
}

main section:nth-of-type(2) ul {
  margin-top: 2em;
  margin-bottom: 2em;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: -2.5em; 
}

main section:nth-of-type(2) li {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-bottom: 0.5em;
  margin: 0.1em;
}

main section:nth-of-type(2) li img:first-of-type {
  height: 0.9375em;
  width: 15px;
  order: -1;
  position:relative;
  top: -1.9em;
  left: 0.7em;

}

main section:nth-of-type(2) li img:last-of-type {
  order: -3;
  height: 61.38px;
}

main section:nth-of-type(2) h2 {
  position: relative;
  top: -2em;
  font-size: 0.95em;
  margin-left: 0.8em;
  font-weight: 600;
}

main section:nth-of-type(2) h3 {
  font-size: 0.8em;
  color: gray;
  order: -2;
  margin-left: 2.7em;
  font-weight: lighter;
}

main section:nth-of-type(2) h4 {
  font-size: 0.7em;
  color: gray;
  position: relative;
  top: -2em;
  left: 1.4em;
}

/* Styling Biography */ 

main section:nth-last-of-type(3) {
  margin-top: -1.9em;
  margin-left: 0.1em;
  padding-bottom: 1em;
  padding-top: 1em;
}

main section:nth-last-of-type(3) h2 {
  position: relative;
  margin-left: 1.1em;
}

main section:nth-last-of-type(3) p {
  text-align: left;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

/* Styling Images Biography */

main section:nth-of-type(4){
  padding-top: 2em;
  padding-bottom: 0.5em;
  margin-left: 0.1em;
  margin-top: -0.1em;
  display: flex;
  flex-direction: column;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}


main section:nth-of-type(4) img:first-of-type {
  width: 340px;
  height: 191.25px;
  position: relative;
  align-self: center;
}

main section:nth-of-type(4) img:last-of-type {
  width: 60px;
  height: 60px;
  margin-left: -3.75em;
  margin-top: 4em;
  position: absolute;
}

main section:nth-of-type(4) p {
  color: gray;
  font-size: 0.9em;
  justify-content: flex-end;
  margin-left: 10%;
  margin-right: auto;
  text-align: left;
}

main section:nth-of-type(4) p::first-letter {
  font-weight: 800;
  color: var(--secondary-color);
  font-size: 1.4em;
}

/* Styling "You might also like" Section */

main section:nth-of-type(5) {
  background-color: var(--background-color);
}

main section:nth-of-type(5) h2 {
  font-size: 2.5em;
  text-transform: uppercase;
  position: relative;
  left: 0.2em;
}

.container2 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

main section:nth-of-type(5) img {
  position: relative;
  left: 0.8em;
  border-radius: 0 0 15px 15px;
}

main section:nth-of-type(5) h3 {
  color: var(--background-color2);
  position: absolute;
  bottom: 7px;
  left: 25px;
}

main section:nth-of-type(5) h4 {
  color: rgb(154, 156, 158);
  font-size: 0.75em;
  text-transform: uppercase;
  position: absolute;
  bottom: 33px;
  left: 35px;
}

/* Media Queries */