/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --primary-color: #df1f26;
  --secondary-color: #000000;
  --tertiary-color: #1e1f27;
  --text-color:white;
  --background-color: #f7f4f2;
  --background-color2:white;
}

body {
  font-family: 'Titillium Web', sans-serif;
  background-color: var(--background-color2);
}

  /* Styling Nav bar Top */

  header nav {
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .menubutton {
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    margin-top: 0.7em;
    margin-right: 2em;
  }

/* Styling First News item */

.decorationtop {
  height: 70px;
  width: 100%;
}

main section:first-of-type {
  display: flex;
  flex-direction: column;
  border-top: 9px solid var(--primary-color);
  border-right: 9px solid var(--primary-color);
  border-top-right-radius: 20px;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

main section:first-of-type h2 {
  font-size: 1.6em;
  margin-right: 0.5em;
}


main section:first-of-type h3 {
  order: -1;
  font-size: 0.9em;
  color: var(--primary-color);
  margin-top: 2em;
  margin-bottom: 0.5em;
}

main section:first-of-type img {
  margin-right: 0.5em;
  margin-top: 0.5em;
}

/* Styling News items */

main section:nth-of-type(2) ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main section:nth-of-type(2) li {
  display: flex;
  flex-direction: column;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

main section:nth-of-type(2) li img {
  order: -2;
  margin-top: 1em;
}

main section:nth-of-type(2) li h2 {
  margin-top: 1em;
  margin-bottom: 1em;
  color: var(--primary-color);
  font-size: 0.9em;
}

main section:nth-of-type(2) li p {
  line-height: 18px;
  letter-spacing: .2px;
  font-size: 16px;
  padding-bottom: 0.5em;
}

main section:nth-of-type(2) li div {
  border-bottom: 2px solid #d0d0d2;
  border-right: 2px solid #d0d0d2;
  border-bottom-right-radius: 20px;
  margin-top: 1em;
  padding: 0.5em;
}

/* View Latest News Button */

main section:nth-of-type(2) button {
  display: inline-block;
  color: white;
  background-color: var(--primary-color);
  border-style: none;
  padding: 0.7em;
  margin-top: 2em;
  border-radius: 5px;
  font-weight: 600;
}

/* Standings Styling */

main section:nth-of-type(3){
  border:none;
}

main section:nth-of-type(3) nav ul {
  margin-top: 2.3em;
  background-color: var(--background-color);
  color: black;
  padding: 1.5em;
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

main section:nth-of-type(3) nav ul li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}