*, *::after, *::before {
    box-sizing:border-box;  
  }

  :root {
    --primary-color: #df1f26;
    --secondary-color: #000000;
    --tertiary-color: #1e1f27;
    --text-color:white;
    --background-color: #f7f4f2;
    --background-color2:white;
  }

  body {
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--background-color);
  }

  section {
    background-color: var(--background-color2);
  }

  /* Styling Nav bar Top */

header nav {
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menubutton {
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  margin-top: 0.7em;
  margin-right: 2em;
}

/* Styling Header Calender (Italy) */

header section {
  background-color: var(--secondary-color);
  color: var(--text-color);
  margin-top: -1.3em;
  padding-bottom: 1em;
}

.CircuitInfo {
  display: flex;
}

header section h1 {
  font-size: 1.5em;
  margin-top: 2.5em;
  margin-left: -2em;
}

header section h2 {
  font-size: 1em;
  order: -1;
  align-self: flex-start;
  margin-left: 1em;
}

.MonzaCircuit {
  width: 41px;
  height: 32px;
  margin-top: 3.8em;
  margin-left: -11em;
}

header section article {
  background-color: var(--tertiary-color);
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-radius: 2em;
  margin-top: 0.5em;
  padding-top: 1.8em;
  display: flex;
  flex-direction: column;
}

header section article div:first-of-type {
  flex-direction: column;
  flex-wrap: wrap;
  align-self: flex-start;
  justify-self:flex-start;
  margin-left: 11.5%;
  margin-top: -2em;
  padding-bottom: 2em;
}

header section article div:first-of-type p:first-of-type {
  font-weight: 800;
  font-size: 1.5em;
}

header section article div:first-of-type p:last-of-type {
  color: gray;
  top: -2.8em;
  left: 3.4em;
  font-weight: 100;
  font-size: 0.9em;
  margin-top: -2em;
}

header section article h3 {
  font-size: 0.8em;
  background-color: #383940;
  padding: 0.4em;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: 100;
  text-align: center;
  border-radius: 0.8em;
  align-self: flex-start;
  margin-left: 10%;
  margin-top: -1em;
}

header section article div:last-of-type {
  background-color: var(--background-color2);
  margin-left: 0em;
  margin-top: -9.3em;
  padding-left: 50%;
  padding: 10px 10px 8px;
  align-self: flex-end;
  border-radius: 0 30px 30px 0;
}


/* Styling Daniel Ricciardo */

main section:first-of-type {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
  margin-bottom: -1.5em;
}

main section:first-of-type img:first-of-type {
  order: -2;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3em;
}

main section:first-of-type img:last-of-type {
  order: -2;
  height: 21px;
  width: 30px;
  border-radius: 0.3em;
  align-self: flex-start;
  margin-top: 1.5em;
  margin-left: 2.5em;
}

main section:first-of-type h2 {
  font-weight: 800;
  margin-top: -0.5em;
  margin-left: 0.5em;
  border-bottom: 1px solid gray;
}

main section:first-of-type h3 {
  font-size: 1.5em;
  font-weight: 600;
  color: gray;
  order: -1;
  margin-left: 0.5em;
  margin-top: -1.2em;
}

main section:first-of-type img:nth-of-type(2) {
  width: 232px;
  height: 212,5px; 
}

main section:first-of-type p {
  color: var(--primary-color);
  font-weight: 800;
  font-size: 1.2em;
  align-self: flex-end;
  margin-top: -8.9em;
  margin-right: 10%;
}

main section:first-of-type section {
  display: flex;
}

main section:first-of-type ul {
  list-style: none;
}

main section:first-of-type ul:first-of-type {
  margin-top: 3em;
  font-weight: 800;
  font-size: 1em;
  margin-left: -1.5em;
}

main section:first-of-type ul:last-of-type {
  color: gray;
  font-size: 1em;
  margin-right: 10%;
  margin-left: 42%;
  margin-top: -16em;
}

/* Styling News */

main section:nth-of-type(2) {
  background-color: var(--background-color);
}

main section:nth-of-type(2) ul {
  margin-top: 2em;
  margin-bottom: 2em;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: -2.5em; 
}

main section:nth-of-type(2) li {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-bottom: 0.5em;
  margin: 0.1em;
}

main section:nth-of-type(2) li img:first-of-type {
  height: 0.9375em;
  width: 15px;
  order: -1;
  position:relative;
  top: -1.9em;
  left: 0.7em;

}

main section:nth-of-type(2) li img:last-of-type {
  order: -3;
  height: 61.38px;
}

main section:nth-of-type(2) h2 {
  position: relative;
  top: -2em;
  font-size: 0.95em;
  margin-left: 0.8em;
  font-weight: 600;
}

main section:nth-of-type(2) h3 {
  font-size: 0.8em;
  color: gray;
  order: -2;
  margin-left: 2.7em;
  font-weight: lighter;
}

main section:nth-of-type(2) h4 {
  font-size: 0.7em;
  color: gray;
  position: relative;
  top: -2em;
  left: 1.4em;
}

/* Styling News States */

/* Styling Biography */ 

main section:nth-last-of-type(3) {
  margin-top: -1.9em;
  margin-left: 0.1em;
  padding-bottom: 1em;
  padding-top: 1em;
}

main section:nth-last-of-type(3) h2 {
  position: relative;
  margin-left: 1.1em;
}

main section:nth-last-of-type(3) p {
  text-align: left;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

/* Styling Images Biography */

main section:nth-of-type(4){
  padding-top: 2em;
  padding-bottom: 0.5em;
  margin-left: 0.1em;
  margin-top: -0.1em;
  display: flex;
  flex-direction: column;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}


main section:nth-of-type(4) img:first-of-type {
  width: 340px;
  height: 191.25px;
  position: relative;
  align-self: center;
}

main section:nth-of-type(4) img:last-of-type {
  width: 60px;
  height: 60px;
  margin-left: -3.75em;
  margin-top: 25%;
  position: absolute;
}

main section:nth-of-type(4) p {
  color: gray;
  font-size: 0.9em;
  justify-content: flex-end;
  margin-left: 5%;
  margin-right: auto;
  text-align: left;
}

main section:nth-of-type(4) p::first-letter {
  font-weight: 800;
  color: var(--secondary-color);
  font-size: 1.4em;
}

/* Styling "You might also like" Section */

main section:nth-of-type(5) {
  background-color: var(--background-color);
}

main section:nth-of-type(5) h2 {
  font-size: 2.5em;
  text-transform: uppercase;
  position: relative;
  left: 0.2em;
}

.container2 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

main section:nth-of-type(5) img {
  position: relative;
  left: 0.8em;
  border-radius: 0 0 15px 15px;
}

main section:nth-of-type(5) h3 {
  color: var(--background-color2);
  position: absolute;
  bottom: 7px;
  left: 25px;
}

main section:nth-of-type(5) h4 {
  color: rgb(154, 156, 158);
  font-size: 0.75em;
  text-transform: uppercase;
  position: absolute;
  bottom: 33px;
  left: 35px;
}

/* Media Queries */

/* Header Styling*/

@media (min-width: 770px) {
  .MonzaCircuit {
    margin-left: -11em;
  }
}

@media (min-width: 770px) {
  header section h1 {
    margin-top: 2.2em;
    margin-left: -3em;
    font-size: 1.6em;
  }
}

@media (min-width: 770px) {
  header section h2 {
    margin-left: 9em;
    font-size: 1.1em;
  }
}

@media (min-width: 770px) {
  header section article {
    margin-left: 9em;
    margin-right: 9em;
  }
}

@media (min-width: 1300px) {
  header section h2 {
    margin-left: 19em;
    font-size: 1.1em;
  }
}

@media (min-width: 1300px) {
  header section article {
    margin-left: 20em;
    margin-right: 20em;
  }
}

@media (min-width: 2000px) {
  header section h2 {
    margin-left: 37em;
    font-size: 1.1em;
  }
}

@media (min-width: 2000px) {
  header section article {
    margin-left: 40em;
    margin-right: 40em;
  }
}

@media (min-width: 2400px) {
  header section h2 {
    margin-left: 42em;
    font-size: 1.1em;
  }
}

@media (min-width: 2400px) {
  header section article {
    margin-left: 45em;
    margin-right: 45em;
  }
}

/* Margin Main*/

@media (min-width: 770px) {
  main {
    margin-top: 2em;
  }
}

@media (min-width: 1500px) {
  main {
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 2em;
  }
}

@media (min-width: 1600px) {
  main {
    margin-left: 8em;
    margin-right: 8em;
  }
}

@media (min-width: 1700px) {
  main {
    margin-left: 12em;
    margin-right: 12em;
  }
}


@media (min-width: 1800px) {
  main {
    margin-left: 15em;
    margin-right: 15em;
  }
}

@media (min-width: 1900px) {
  main {
    margin-left: 18em;
    margin-right: 18em;
  }
}

@media (min-width: 2000px) {
  main {
    margin-left: 21em;
    margin-right: 21em;
  }
}

@media (min-width: 2100px) {
  main {
    margin-left: 24em;
    margin-right: 24em;
  }
}

@media (min-width: 2200px) {
  main {
    margin-left: 27em;
    margin-right: 27em;
  }
}

@media (min-width: 2300px) {
  main {
    margin-left: 30em;
    margin-right: 30em;
  }
}

/* Daniel Riccardo Image Scaling */

@media (min-width: 770px) {
  main section:first-of-type img:first-of-type {
    display: flex;
    margin-top: 0em;
    margin-left: 0em;
    height: 436px;
    width: 316px;
  }
}

@media (min-width: 770px) {
  main section:first-of-type img:nth-of-type(2) {
    display: flex;
    margin-top: 0em;
    margin-left: 0em;
  }
}

@media (min-width: 1300px) {
  main section:first-of-type img:first-of-type {
    height: 536px;
    width: 416px;
  }
}

/* Daniel Ricciardo Layout */

@media (min-width: 770px) {
  main section:first-of-type h2 {
    font-size: 2.2em ;
    border: none;
  }
}

@media (min-width: 770px) {
  main section:first-of-type img:nth-of-type(2) {
    margin-left: 22em;
    margin-top: -35em;
    width: 182px;
    height: 162,5px; 
  }
}

@media (min-width: 770px) {
  main section:first-of-type p {
    margin-top: -7.9em;
  }
}

@media (min-width: 770px) {
  main section:first-of-type section {
    margin-left: 25em;
    margin-bottom: 5em;
  }
}

@media (min-width: 1000px) {
  main section:first-of-type img:nth-of-type(2) {
    margin-top: -35em;
    width: 212px;
    height: 192,5px; 
  }
}

@media (min-width: 1000px) {
  main section:first-of-type p {
    font-size: 1.5em;
    margin-top: -7em;
    margin-right: 7em;
  }
}

@media (min-width: 1000px) {
  main section:first-of-type section {
    font-size: 1.2em;
    margin-left: 22em;
    margin-bottom: 0em;
  }
}

@media (min-width: 1100px) {
  main section:first-of-type p {
    margin-right: 8.5em;
  }
}

@media (min-width: 1200px) {
  main section:first-of-type p {
    margin-right: 10.5em;
  }
}

@media (min-width: 1300px) {
  main section:first-of-type img:nth-of-type(2) {
    margin-left: 30em;
    margin-top: -42em;
    width: 262px;
    height: 242,5px; 
  }
}

@media (min-width: 1300px) {
  main section:first-of-type p {
    margin-top: -8.1em;
  }
}

@media (min-width: 1300px) {
  main section:first-of-type section {
    margin-left: 27em;
    margin-bottom: 5em;
    font-size: 1.3em;
  }
}

@media (min-width: 2300px) {
  main section:first-of-type p {
    margin-right: 18em;
  }
}

/* News Images Height */

@media (min-width: 400px) {
  main section:nth-of-type(2) li img:last-of-type {
    height: 71.38px;
  }
}

@media (min-width: 500px) {
  main section:nth-of-type(2) li img:last-of-type {
    height: 81.38px;
  }
}

@media (min-width: 600px) {
  main section:nth-of-type(2) li img:last-of-type {
    height: 91.38px;
  }
}

@media (min-width: 770px) {
  main section:nth-of-type(2) li img:last-of-type {
    height: 131.38px;
  }
}

@media (min-width: 900px) {
  main section:nth-of-type(2) li img:last-of-type {
    height: 81.38px;
  }
}

@media (min-width: 1200px) {
  main section:nth-of-type(2) li img:last-of-type {
    height: 101.38px;
  }
}

@media (min-width: 1300px) {
  main section:nth-of-type(2) li img:last-of-type {
    height: 121.38px;
  }
}

@media (min-width: 900px) {
  main section:nth-of-type(2) ul {
    margin-top: 2em;
    margin-bottom: 2em;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

  }

}

/* News Items Font Size/Styling */

@media (min-width: 770px) {
  main section:nth-of-type(2) {
    margin-top: -1em;
  }
}

@media (min-width: 770px) {
  main section:nth-of-type(2) li h3 {
    font-size: 0.9em;
  }
}

@media (min-width: 770px) {
  main section:nth-of-type(2) li img:first-of-type {
    height: 1.1em;
    width: 17px;
    top: -2.2em;
  }
}

@media (min-width: 770px) {
  main section:nth-of-type(2) li h2 {
    font-size: 1.2em;
  }
}

@media (min-width: 770px) {
  main section:nth-of-type(2) li h4 {
    font-size: 0.9em;
  }
}

@media (min-width: 1300px) {
  main section:nth-of-type(2) li h3 {
    font-size: 1em;
  }
}

@media (min-width: 1300px) {
  main section:nth-of-type(2) li img:first-of-type {
    height: 1.2em;
    width: 17px;
    top: -2.35em;
  }
}

@media (min-width: 1300px) {
  main section:nth-of-type(2) li h2 {
    font-size: 1.6em;
    margin-top: 1.5em;
  }
}

@media (min-width: 1300px) {
  main section:nth-of-type(2) li h4 {
    font-size: 1.1em;
  }
}

/* Images Biography Scaling */

@media (min-width: 358px) {
  main section:nth-of-type(4) img:first-of-type {
      width: 100%;
      height: auto;
  }
}

/* Biography Font Scaling */

@media (min-width: 770px) {
  main section:nth-last-of-type(3) p {
    text-align: left;
    font-size: 1.2em;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}

@media (min-width: 770px) {
  main section:nth-last-of-type(3) h2 {
    font-size: 2em;
  }
}

@media (min-width: 770px) {
  main section:nth-of-type(4) p {
    font-size: 1em;
  }
}

@media (min-width: 2000px) {
  main section:nth-of-type(4) p {
    font-size: 1.3em;
  }
}



